.UserList > tr > th {
  padding: 5px 10px;
}

.UserList {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(232, 251, 255) !important;
}
.UserTable {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80% !important;
}
