.UserList > tr > th {
  padding: 5px 10px;
}

.UserList {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(232, 251, 255) !important;
}
.UserTable {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80% !important;
}

.UserCreateButtons {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  display: grid;
  grid-column-gap: 30%;
  align-content: space-around;
  grid-template-columns: 300px;
}

.CreateUserButton {
  text-align: center;
  font-size: 16px !important;
  padding: 5px 20px !important;
  box-shadow: 5px 5px 5px #00000040;
  cursor: pointer;
}

.CreateUsersButton {
  text-align: center;
  font-size: 16px !important;
  padding: 5px 20px !important;
  box-shadow: 5px 5px 5px #00000040;
  cursor: pointer;
}
