nav.Navigation{
    text-align:center;
    background-color:#000;
    border-top:solid 5px #fff;
}

ul.NavigationList{
    list-style:none;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns:repeat(5,1fr);
}

li.NavigationUnit{
    list-style:none;
    padding:20px 0;
    transition:background-color .3s;
}

li.NavigationUnit:hover{
    background-color:rgba(255, 255, 255, 0.523);
}

a.NavigationAnc,
a.NavigationAnc:hover{
    text-decoration:none;
    color:#fff;
    font-size:16px;
    letter-spacing:1.4px;
}