.GroupInfoFrame {
  padding-top: 20px;
  background-color: rgb(232, 251, 255) !important;
}

.GroupInfoGrid {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
}

.elementName {
  border: solid 2px #777;
  padding: 2px 10px;
  margin-right: 20px;
}
